#q:focus {
    box-shadow: 0 0 0 .05rem rgba(13, 110, 253, .25);
}

.app-max-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Used for matching container-fluid padding */
.padding-for-container {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

/* Used as a container-fluid with margin instead of padding */
.search-container-margin {
    margin-top: .25rem;
    margin-right: calc(var(--bs-gutter-x) * 0.5);
    margin-left: calc(var(--bs-gutter-x) * 0.5);
    z-index: 100;
}

/* To make sure the movie overview text doesn't add height to movie in search bar */
.search-bar-overview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Change this number to show more lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.result-img-wrapper {
    max-width: 3.5rem;
    min-width: 3.5rem;
    height: 5rem;
}

.result-img-wrapper img.result-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-result {
    transition: background-color 0.5s ease;
}

a.search-result:hover {
    background-color: rgb(236, 236, 236);
}

.open-search {
    height: 40px;
    cursor: pointer;
}

.search-icon-size {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  z-index: 1020;
}

.search-icon-size:hover {
  background-color: lightgray;
}

.sticky-search {
    position: relative;
}

.enter-form {
  max-width: 450px;
}

.circle-wrap {
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 74px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  font-weight: 700;
  font-size: 2em;
}

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
}

.cast-member {
  width: 9.5rem;
}

.cast-name * {
  font-size: .95rem;
}

/* For medium screen (tablet) styles */
@media (max-width: 768px) {
  .sticky-search {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1020;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .sticky-search-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .md-px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .md-border-radius-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .search-container-margin {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .movie-header {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }

  .poster-img {
    max-height: 200px;
  }
}