{% extends "layout.html" %}

{% block title%}
    {% if form["form_title"] %}{{ form["form_title"] }}{% endif %}
{% endblock %}

{% block main %}
    <section class="enter-form border rounded p-3 mx-auto shadow">
        <h1>{{ form["form_title"] if form["form_title"] else "MovieList Form" }}</h1>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <p class="text-{{ category }} bg-{{ category }} bg-opacity-10 border-{{ category }} border-opacity-10 rounded-2 py-2 px-3">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if form["form_type"] == "forgot" %}
            <p>Enter your email address below, and we'll send you a link to reset your password</p>
        {% elif form["form_type"] == "reset" %}
            <p>Enter your new password</p>
        {% endif %}
        <form action="{% if form["form_action"] %}{{ form["form_action"] }}{% endif %}" method="post" id="entry-form">
            {% if form["form_fields"] %}
                {% for field in form["form_fields"] %}
                    <div class="form-group mb-3">
                        <label class="form-label" for="{{ field["name"] }}">{{ field["label"] }}</label>
                        <input 
                            class="form-control {% if form["validate_errors"] %}{% for error_dict in form["validate_errors"] %}{% if field["name"] in error_dict %}border-danger focus-ring focus-ring-danger{% endif %}{% endfor %}{% endif %}"
                            id="{{ field["name"] }}"
                            type="{{ field["type"] }}"
                            name="{{ field["name"] }}"
                            placeholder="{{ field["placeholder"] }}"
                            {% if form.get("values") %}
                                {% for value_dict in form["values"] %}
                                    {% for key, value in value_dict.items() %}
                                        {% if field["name"] == key and not field["type"] == "password" %}
                                            value="{{ value }}"
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            {% if loop.index0 == 0 %}
                                autofocus
                            {% endif %}
                            required>
                    </div>
                {% endfor %}
                {% if form["form_type"].casefold() == "login".casefold() %}
                    <div class="form-group mb-3">
                        <div id="helpers" class="d-flex justify-content-between">
                            <a href="{{ url_for("forgot_password") }}">Forgot Password?</a>
                            <div class="form-check">
                                <input class="form-check-input border-dark" type="checkbox" value="1" id="stay-logged-in" name="stay-logged-in">
                                <label class="form-check-label" for="stay-logged-in">
                                  Keep me signed in
                                </label>
                              </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="form-group mb-3">
                <button type="submit" class="form-control btn btn-primary">{{ form["form_button"] }}</button>
            </div>
        </form>
        {% if form["validate_errors"] %}
            <ul id="entry-form-errors">
                {% for error_dict in form["validate_errors"] %}
                    {% for err in error_dict.values() %}
                        <li class="text-danger">{{ err }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if form["form_type"].casefold() == "login".casefold() %}
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        {% elif form["form_type"].casefold() == "signup".casefold() %}
            <p>Already have an account? <a href="login">Log In</a></p>
        {% endif %}
    </section>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="../static/js/entry-form.js"></script>
{% endblock %}