{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Home page</h1>
    {% if user.username %}
        <p>Hello, {{ user.username }}</p>
    {% elif not user.username %}
        <p>Hello There</p>
    {% endif %}

    <form action="/search" method="get">
        <input autocomplete="off" type="text" name="q" placeholder="Start typing..." id="q" >
        <button type="submit">Search</button>
    </form>
{% endblock %}
{% block body_scripts %}
    <script src="../static/js/search.js"></script>
{% endblock %}