{% extends "layout.html" %}

{% block title %}
    Movie Info
{% endblock %}

{% block style %}
    <style>
        .mask.full-2,
        .circle .fill-2 {
            transform: rotate({{ movie.circle_fill }}deg);
        }
    </style>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="text-{{ category }} bg-{{ category }} bg-opacity-10 border-{{ category }} border-opacity-10 rounded-2 py-2 px-3">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="movie-header d-flex gap-4">
        <div class="poster-wrapper">
            <div class="poster">
                <img class="poster-img rounded" id="poster-img" src="{% if movie.poster %}https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ movie.poster }}{% else %}../static/imgs/image-not-found-vector.jpg{% endif %}" />
            </div>
        </div>
        <div>
            <h1>{{ movie.title}} {% if movie.release_year %}({{ movie.release_year }}){% endif %}</h1>
            <div class="movie-facts">
                {% for fact in movie.facts %}
                    {% if loop.index > 1 %}
                        <span>&#8226;</span>
                    {% endif %}
                    <span>{{ fact }}</span>
                {% endfor %}
            </div>
            <div class="genres">
                {{ movie.genres | join(", ") }}
            </div>
            <div class="d-flex align-items-center gap-4">
                <div class="circle-wrap my-3">
                    <div class="circle">
                        <div class="mask full-2">
                            <div class="fill-2 bg-primary"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill-2 bg-primary"></div>
                        </div>
                        <div class="inside-circle bg-dark">
                            {% if movie.vote_count %}
                                {{ movie.percentage }}%
                            {% else %}
                                NR
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button type="button"
                    class="btn btn-primary"
                    id="movie-btn"
                    data-type="save"
                    data-id="{{ movie.id }}">
                        Save to List
                </button>
            </div>
            {% if not movie.tagline == '' %}<p>{{ movie.tagline }}</p>{% endif %}
            <div class="overview">
                <h2>Overview</h2>
                <p>{{ movie.overview }}</p>
            </div>
            <div class="overview">
                <h3>Director</h3>
                <p>{{ movie.director }}</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Cast</h2>
        <div class="cast-info d-flex flex-wrap gap-3">
            {% for person in movie.cast_list %}
                <div class="card cast-member">
                    <img class="card-img-top" src="{% if person.profile_path %}https://image.tmdb.org/t/p/w138_and_h175_face{{ person.profile_path }}{% else %}../static/imgs/image-not-found-vector.jpg{% endif %}" alt="Card image cap">
                    <div class="card-body cast-name">
                        <h5 class="card-title">{{ person.name }}</h5>
                        <p class="card-text opacity-50">{{ person.character }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="../static/js/movie-btn.js"></script>
{% endblock %}