{% extends "layout.html" %}

{% block title %}
    Confirm Email | Reset Password
{% endblock %}

{% block main %}
    <section class="enter-form border rounded p-3 mx-auto shadow">
        <h1>Confirm Email</h1>
        {% if reset_error %}
            <p class="text-danger bg-danger bg-opacity-10 border-danger border-opacity-10 rounded-2 py-2 px-3">{{ reset_error }}</p>
        {% endif %}
        <p>Enter your email address below, and we'll send you a link to reset your password</p>
        {% if email_error %}
            <p class="text-danger bg-danger bg-opacity-10 border-danger border-opacity-10 rounded-2 py-2 px-3">{{ email_error }}</p>
        {% endif %}
        <form action="/reset-password" method="post" id="entry-form">
            <div class="form-group mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control {% if error and error["email"] %} border-danger focus-ring focus-ring-danger {% endif %}" 
                id="email" type="email" name="email" placeholder="Email" required
                {% if email %} value={{ email }} {% endif %} autofocus>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="form-control btn btn-primary">Send Reset Link</button>
            </div>
        </form>
        {% if error %}
            <ul id="entry-form-errors">
                    <li class="text-danger">{{ error["email"] }}</li>
            </ul>
        {% endif %}
    </section>
{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="../static/js/entry-form.js"></script>
{% endblock %}