{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <h1 class="mb-4">Search 
        {% if q %}
            <span id="search-value">"{{ q }}"</span>
        {% else %}
            <span id="search-value"></span>
            MovieList
        {% endif %}
    </h1>
    <section class="search-page-results mb-4">
        <h2 class="mb-4">Results</h2>
        <div id="search-results-wrapper" class="shadow bg-light rounded"></div>
    </section>
{% endblock %}